[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = Wade_Test.
OU = IT Department
emailAddress = chun50405@gmail.com
CN = Wade_Test

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.localhost
DNS.2 = localhost
DNS.3 = 192.168.10.*
DNS.4 = 104.155.210.57
IP.1 = 192.168.10.44
IP.2 = 104.155.210.57
IP.3 = 192.168.10.25
